{{- define "main" }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- with .Description }}<p class="post-description">{{ . }}</p>{{ end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">{{ partial "translation_list.html" . }}</div>
    {{- end }}
</header>

<div id="searchbox" class="searchbox">
    <label class="nf-visually-hidden" for="searchInput">{{ i18n "nf_search" | default "Search" }}</label>
    <input id="searchInput" disabled
        placeholder="{{ .Params.placeholder | default (i18n "nf_search_placeholder" | default "Search") }}"
        type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" class="searchResults" aria-live="polite"
        aria-label="{{ i18n "nf_search_results" | default "Search results" }}"></ul>
</div>
{{- end }}
